<!-- Tittle and search bar -->
<app-header (searchedBeers)="onSearch($event)">
</app-header>
<!-- Grid of the beers -->
<div class="grid-container">
  <mat-grid-list [cols]="breakpoint" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let beer of beers">
      <app-beer-card [beer]="beer"></app-beer-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Spinner to show at the bottom of the beers when loading -->
<div class="example-loading-shade" *ngIf="!notLoading">
  <mat-spinner></mat-spinner>
</div>
<!-- Message to show when there are no more beers -->
<div *ngIf="notLoading" class="end-indicator">
  <h3>No more Beers to Show :(</h3>
</div>