.card-container {
    margin: 20px;
    text-align: center;
}

.mat-form-field {
    padding: 10px;
}

.example-loading-shade {
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }